<?xml version="1.0"?>
<ruleset name="MailPoet Bounce Handler">
    <description>WordPress Coding Standards para mailpoet-bounce-handler</description>

    <file>.</file>
    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>languages/*</exclude-pattern>
    <exclude-pattern>node_modules/*</exclude-pattern>

    <exclude-pattern>*.js</exclude-pattern>

    <rule ref="WordPress"/>

    <rule ref="WordPress.Files.FileName">
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
    </rule>

    <config name="minimum_supported_wp_version" value="5.8"/>
    <config name="testVersion" value="7.4-"/>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="mailpoet-bounce-handler"/>
        </properties>
    </rule>
</ruleset>
